/* 
    Document   : new
    Created on : 18 août 2013, 14:37:06
    Author     : Nico
    Description:
        Purpose of the stylesheet follows.
*/
html, body{
    background: #f9f7e9;
}
body > .container { 
    margin-top: 70px;
}

/*
 * Style twaks
 * --------------------------------------------------
 */
 img.carousel.thumbnail{
     display: inline-block;
 }
 
   img {
          display: inline-block;
          height: auto;
          max-width: 100%;
   }

   div.well.white{
       background-color: #FFFFFF;
   }
   
   .infothumbnail{
       margin-top: 10px;
   }
   
   .sidebarpostview, .bodypostview{
       margin-top: 20px;
   }
   